@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Expense Reimbursement</h1>
    <h5 class="display-7 text-capitalize text-black">Process expense remibursements in a faster and more efficient manner.</h5>
    <h5 class="display-7 text-capitalize text-black">Sync settlements with payroll.</h5>
   <img class="mainImage" src="~/images/reimburse/reimb1.jpg" />
   <br/>
</div>
