@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We do not collect any information whatsoever about you or anything related to your device when you use our Apps.
    We will never collect any personal information from any updates that we may make to our Apps.
    We don’t store your data when you use our Apps. All your business data is stored in your Office 365 tenant.
    We do not collect any statistics, trends; neither do we track user movements.
    We do not collect any information that can identify you when you download a trial.
    We do not include any links to other sites.
    We respect your privacy 100%. This is our promise to you!
</p>
